
#polyanno_map{
	height: 500px;
}


#polyanno-top-bar {
	/*height: 5%;*/
	background-color: grey;
	border-radius: 5px;
	position: relative;
	/*z-index: -1000;*/
}

.popover {
	z-index: 100000;
}


.dragondrop-handlebar {
	position: relative;
	/*z-index: -10000;*/
}
.textEditorMainBox {
	position: relative;
	z-index: 10000;
}



.polyanno-language-buttons {
	display: inline-block;
}

.polyanno-other-button {
	display: inline-block;
}

#polyanno-bar-other-buttons {
	background-color: grey;
}

.polyanno-add-keyboard {
	background-color: grey;
}

.polyannoMinEditor {
	display: inline-block;
}


.annoPopup {
  	border: 1px solid grey;
	border-radius: 5px;
}

.textEditorPopup {
	background-color: white;
	z-index: 1000;
}
.popupBoxHandlebar {
  background-color: buttonface;
  border-radius: 5px 5px 0px 0px;
}

.polyanno-image {
  background-color: buttonface;
  border-radius: 5px;	
}



.polyanno-options-row {
  background-color: grey;
  padding: 5px;
  font-size: 0.875em;
  display: none;
}

.polyanno-vector-link-row {
  background-color: #03f;
  padding: 5px;
  font-size: 0.9em;
  display: none;
}

.polyanno-top-voted {
  background-color: white;
  padding: 5px;
  font-size: 0.9em;
  display: none;
}

.polyanno-alternatives-toggle-row {
  background-color: #EC0028;
  padding: 5px;
  font-size: 0.875em;
  display: none;
}

.polyanno-add-new-toggle-row {
  background-color: #03f;
  padding: 5px;
  font-size: 0.875em;
  display: none;
}

.polyanno-add-new-row {
  background-color: white;
  padding: 5px;
  font-size: 0.875em;
  display: none;
}

.polyanno-add-new-cancel-row {
  background-color: buttonface;
  padding: 5px;
  font-size: 0.875em;
  display: none;
}

.polyanno-list-alternatives-row {
  background-color: grey;
  padding: 5px;
  font-size: 0.875em;
  display: none;
}

.polyanno-metadata-tags-row {
  background-color: grey;
  padding: 5px;
  font-size: 0.875em;
  display: none;
}


.content-area {
	position: absolute;
  	top: 0;
  	left: 0;
}


.polyanno-voting-overlay {
  	position: absolute;
  	top: 0;
  	left: 0;
	background-color: #03f;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	z-index: 100000;
	display: none;
}

.polyannoVotesUpBadge {
	z-index: 100001;
}
.polyannoVotingUpButton {
	z-index: 100001;
}


.polyannoAddNewContainer {
	width: 100%;
}

.polyannoEditorDropdownBtn {
	width: 100%;
}


.editorTitle {
	font-size: 1.5em;
	color: white;
	text-align: center;
}




.openTranscriptionChildrenPopup {
	background-color:yellow;
	font-weight: normal;
	color: black;
}


.newAnnotation {
	width: 100%;
}


.poly-ed-editors-change {
	width: 100%;
}

#imageViewer {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}


